{% extends 'layout.html.twig' %}

{% block title %}Регистрация юридического лица{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <section class="registration">

        <h1 class="login__title">Регистрация Юридического лица</h1>
        {{ form_start(form,  {'attr': {'class': 'registration__form registration__form--ul'}}) }}


            {% for error in form.vars.errors %}
                {% if error.message == 'Данная почта уже существует' %}
                    <div id="infoModalMessage">
                    <info-modal-message message="{{ error.message }}" type="0"></info-modal-message>
                    </div>
                {% else %}
                    <div class="{{ form_errors(form) ? 'alert  alert-danger' : '' }}">
                                {{ form_errors(form) }}
                    </div>
                {% endif %}
            {% endfor %}

        <div id="mobileComponent">
            <div class="registration__block">
                <div class="registration__form-row">
                    {{ form_row(form.company_name) }}
                </div>
                <div class="registration__form-row" id="inputComponent">
                    {% do form.email.setRendered() %}
                    <input-component></input-component>
                </div>
            </div>
            <div class="registration__block">
                <div class="registration__header">
                    <p>Эти данные будут использованы только для внутреннего
                        использования и не будут переданы третьим лицам.</p>
                    <div class="registration__radios">

                        {% do form.sex.setRendered() %}
                        {% for choice in form.sex.vars.choices %}
                            <label class="radio-label">
                                <input type="radio" id="{{ form.sex.vars.id ~ '_' ~ loop.index }}"
                                       name="{{ form.sex.vars.full_name }}" required="required"
                                       value="{{ choice.value }}">
                                <span class="design"></span>
                                <span>{{ choice.label }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="registration__inner">
                    {{ form_row(form.name) }}
                </div>
                <div class="registration__inner">
                    {{ form_row(form.surname) }}
                </div>
                {% do form.work_number.setRendered() %}
                {% do form.phone.setRendered() %}
                {{ form_errors(form.work_number) }}
                <mobile-input label="Рабочий телефон" input-id="{{ form.work_number.vars.id }}"
                              input-name="{{ form.work_number.vars.full_name }}"></mobile-input>
                {{ form_errors(form.phone) }}
                <mobile-input label="Мобильный телефон" input-id="{{ form.phone.vars.id }}"
                              input-name="{{ form.phone.vars.full_name }}"></mobile-input>
            </div>
            <div class="registration__block">
                <p class="registration__header">
                    Эти данные видны всем пользователям системы
                </p>
                <div class="registration__inner">
                    {{ form_row(form.country) }}
                </div>
                <div class="registration__inner">
                    {{ form_row(form.index) }}
                </div>
                <div class="registration__inner">
                    {{ form_row(form.address) }}
                </div>
                <div class="registration__inner">
                    {% do form.show_person_number_additive.setRendered() %}
                    {% do form.show_work_number_additive.setRendered() %}
                    {% do form.work_number_additive.setRendered() %}
                    <mobile-input checkbox-options="{{ {'checkbox_id' : form.show_work_number_additive.vars.id, 'checkbox_name' : form.show_work_number_additive.vars.full_name}|json_encode() }}" show-checkbox="true" label="Рабочий телефон"
                                  input-id="{{ form.work_number_additive.vars.id }}"
                                  input-name="{{ form.work_number_additive.vars.full_name }}"></mobile-input>
                </div>
                <div class="registration__inner">
                    {% do form.person_number_additive.setRendered() %}
                    <mobile-input  checkbox-options="{{ {'checkbox_id' : form.show_person_number_additive.vars.id, 'checkbox_name' : form.show_person_number_additive.vars.full_name}|json_encode() }}"   show-checkbox="true" label="Мобильный телефон"
                                  input-id="{{ form.person_number_additive.vars.id }}"
                                  input-name="{{ form.person_number_additive.vars.full_name }}"></mobile-input>
                </div>
            </div>
            <div class="registration__block"><p class="registration__header">Данные компании</p>

                <div class="registration__row">
                    <div>
                        {{ form_row(form.INN) }}
                    </div>
                    <div class="registration__checkbox">
                        <input class="check-input" type="checkbox" id="check8" checked>
                        <label class="checkbox-label"
                               for="check8"><span
                                    class="icon"></span>
                            <svg viewBox="0,0,50,50">
                                <path d="M5 30 L 20 45 L 45 5"></path>
                            </svg>
                            <span class="checkbox-text">НДС</span></label></div>
                </div>
                <div class="registration__inner">
                    {{ form_row(form.legal_address) }}
                </div>
                <div class="registration__header">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="registration__wrapper">
                <div class="registration__checkboxes">
                    <div>
                        {{ form_widget(form.services) }}
{#                        <input class="check-input" type="checkbox" id="check5" checked>#}

                        <label
                                class="checkbox-label" for="{{ form.services.vars.id }}"><span class="icon"></span>
                            <svg viewBox="0,0,50,50">
                                <path d="M5 30 L 20 45 L 45 5"></path>
                            </svg>
                            <span class="checkbox-text">Я прочитал и принимаю общие условия agigroo.com*</span></label>
                    </div>
                    <div>
                        {{ form_widget(form.confidential) }}
                       <label class="checkbox-label"
                                                                                       for="{{ form.confidential.vars.id }}"><span
                                    class="icon"></span>
                            <svg viewBox="0,0,50,50">
                                <path d="M5 30 L 20 45 L 45 5"></path>
                            </svg>
                            <span class="checkbox-text">Я прочитал и принимаю политику конфеденциальности*</span></label>
                    </div>
                </div>
                <div class="registration__submit" id="ajaxSubmitButton">
                    <ajax-submit-button></ajax-submit-button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
