<div class="login__form">
    <h1 class="login__title">Вход</h1>


    {{ form_start(form) }}

        <p>Вход через соц.сети:</p>
        <ul class="login__social social">
            <li><a class="social__item social__item--facebook" href="" aria-label="Facebook"></a></li>
            <li><a class="social__item social__item--instagram" href="" aria-label="Instagram"></a></li>
            <li><a class="social__item social__item--twitter" href="" aria-label="Twitter"></a></li>
            <li><a class="social__item social__item--skype" href="" aria-label="Skype"></a></li>
        </ul>
        <div class="row">
            {{ form_errors(form) }}
        </div>

        <div class="login__form-row"
        >
            <label class="input-label" for="email">Введите почту</label>
            {{ form_widget(form.email) }}
        </div>
        <div id="modalComponent" class="login__form-row">

            <password-input options="{{ {
                'id' : form.password.vars.id,
                'label': form.password.vars.label,
                'full_name': form.password.vars.full_name,
                'required': form.password.vars.required,
                'attr': {
                    'placeholder': '***********'
                },
                'name': ''

            }|json_encode() }}" ></password-input>

            {% do form.password.setRendered() %}


                <reset-password-hidden-modal></reset-password-hidden-modal>


        </div>

        <button class="login__submit btn-primary" type="submit">Войти</button>
    <input type="hidden" name="login_form[_crf_token]"
           value="{{ csrf_token('authenticate') }}">

    {{ form_end(form) }}
</div>
