<section class="sort">
    <ul class="sort__list">
        {% for category in categories|slice(0,8) %}
            <li class="{{ category.name == active ? 'active' : '' }}"><a href="{{ path('category_page',{'category_slug' : category.slug}) }}">{{ category.name }}</a></li>
        {%  endfor %}
        <li>
            <button aria-label="Еще"> ...</button>
        </li>
    </ul>
</section>