<header>
    <div class="container">
        <div class="main-nav">
            <div class="main-nav__container"><p class="main-nav__language"><span
                            class="flag-icon flag-icon-ru"></span><span>{% trans %}Рус.{% endtrans %}</span><i
                            class="material-icons">keyboard_arrow_down</i>
                </p>
                <ul class="main-nav__menu brd-left">
                    <li><a href="#">{% trans %}О проекте{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Помощь{% endtrans %}</a></li>
                    <li><a href="{{ path('app_login') }}">{% trans %}
                                <i class="material-icons color-primary">person_outline</i>
                                {% endtrans %}</a></li>
                </ul>
            </div>
            <div class="main-nav__container d-sm-none">
                <ul class="main-nav__menu">
                    <li><a href="#"><i class="material-icons">star_outline</i><span
                                    class="d-md-none">{% trans %} Избранное {% endtrans %} (0)</span></a>
                    </li>
                    <li class="brd-left">
                        {% if app.user %}
                        <a href="{{ path('dashboard') }}">
                            <i class="material-icons color-primary">person_outline</i>
                            <span>{% trans %}Мой кабинет{% endtrans %}</span>
                        </a>
                        {% else %}
                        <a href="{{ path('app_login') }}">
                            <i class="material-icons color-primary">person_outline</i>
                            <span>{% trans %}Вход{% endtrans %}</span>
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        <span>/</span>
                        {% if app.user %}
                            <a class="registration-link" href="{{ path('app_logout') }}">
                                <span>{% trans %}Выйти{% endtrans %}</span>
                            </a>
                        {% else %}
                            <a class="registration-link" href="{{ path('app_login') }}">
                                <span>{% trans %}Регистрация{% endtrans %}</span>
                            </a>
{#                            <div class="registration-link"><span>Регистрация</span>#}
{#                                <ul class="registration-popup">#}
{#                                    <li>#}
{#                                        <a href="{{ path('app_register_person') }}">Регистрация для Физ. лиц</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="{{ path('app_register_ul') }}">Регистрация для Юр. лиц</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>