<section class="preview">
    <div class="preview__header">
        <button class="preview__button d-sm-block">
            <img src="{{ asset('img/menu.png') }}">
        </button>
        <a class="preview__logo-block" href="/">
            <img class="preview__logo" src="{{ asset('img/logo.png') }}"></a><a
                class="preview__link d-sm-flex" href="tel:+77777777777"></a>
        <img class="preview__banner d-md-none" src="{{ asset('img/banner.png') }}">
        <a href="{{ path('dashboard_add') }}" class="btn-primary preview__add">{% trans %}+ Добавить объявление{% endtrans %}</a>
    </div>
    <div class="preview__body">
        <div class="preview__categories d-xl-none"><span>{% trans %}Все категории{% endtrans %}<i class="material-icons">keyboard_arrow_down</i></span>
        </div>
        <div class="preview__container">
            <div class="preview__search">
                <input class="input input-search" type="text"    placeholder="{{ 'Поиск по сайту...'|trans }}"></div>
{#            <button class="preview__filters"><span>{% trans %}Больше параметров{% endtrans %}</span></button>#}
        </div>
    </div>
</section>