{% extends 'layout.html.twig' %}

{% block title %}Добавить новую категорию{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Добавить категорию</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
        {% include 'dashboard/sidebar-admin.html.twig' %}
        <section class="make-form">

            <h1 class="make-form__title">Редактирование фильтра</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                {{ form_errors(form) }}
            </div>
            {{ form_start(form, {'attr': {'class': 'make-form__inner'}}) }}



            <div>
                <div class="make-form__wrapper">
                    <div  style="width: 100%">
                        <div>
                            <h3 class="filters__label">Список категорий</h3>
                            <ol>
                                {%  for category in categories %}
                                    <li>{{ category.name }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="color-red">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>

                        {{ form_label(form.sort_order) }}
                        {{ form_widget(form.sort_order) }}

                        {% if  form.values is defined %}
                            {% do form.values.setRendered() %}
                        <div class="color-red" id="inputAddComponent">


                            <input-add values="{{ values|json_encode }}" name="filter_form[values][]">
                                <span>Значения фильтров</span>
                            </input-add>
                            {#                            {{ form_label(form.name) }}#}
                            {#                            {{ form_widget(form.name) }}#}
                           {{ form_errors(form.values) }}
                        </div>
                        {% endif %}



                    </div>
                </div>
                <div class="make-form__bottom">
                    <button class="btn-primary">Сохранить</button>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}
