{% extends 'layout.html.twig' %}

{% block title %}Добавить новую категорию{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Добавить категорию</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
        {% include 'dashboard/sidebar-admin.html.twig' %}
        <section class="make-form">
            <h1 class="make-form__title">Редактировать категорию</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">

            </div>


            {{ form_start(form, {'attr': {'class': 'make-form__inner'}}) }}




            <div class="color-red">

                <p >{{ form_errors(form) }}</p>
                <div class="make-form__wrapper">

                    {% do form.category.setRendered() %}
                    <div>
                        {% if category_lvl > 0 %}
                        <div>
                            {{ form_label(form.parent_category) }}
                            {{ form_widget(form.parent_category) }}
                        </div>
                        {% endif %}
                        <div>
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div>
                            {{ form_label(form.sort_order) }}
                            {{ form_widget(form.sort_order) }}
                        </div>
                        <div class="d-flex">
                            <div>
                            {{ form_label(form.filters) }}
                            {{ form_widget(form.filters) }}
                            </div>
                            {% if not category_lvl %}
                            <div style="margin-left: 35px">
                            {{ form_label(form.productTypes) }}
                            {{ form_widget(form.productTypes) }}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
                {% if action == 'edit' %}
                    <div class="make-form__bottom">
                        <button class="btn-primary">Сохранить</button>
                    </div>
                {% else %}
                <div class="make-form__bottom">
                    <button class="btn-primary">Создать</button>
                </div>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}
