{% extends 'layout.html.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <section class="category">
        <div id="sliderComponent">
            <slider items="{{
                [{
                    'name': 'Транспорт',
                    'image': asset('img/index/car.png'),
                    'slug': path('category_page', {'category_slug': links.transport.slug })
                },
                {
                    'name': 'Недвижимость',
                    'image': asset('img/index/house.png'),
                    'slug': path('category_page', {'category_slug': links.rent.slug })

                },
                {
                    'name': 'Личные вещи',
                    'image': asset('img/index/garment.png')
                },
                {
                    'name': 'Для дома и дачи',
                    'image': asset('img/index/shovel.png'),
                    'slug': path('category_page', {'category_slug': links.home.slug })
                },
                {
                    'name': 'Бытовая электроника',
                    'image': asset('img/index/audio.png')
                },
                {
                    'name': 'Хобби и отдых',
                    'image':  asset('img/index/golf.png'),
                    'slug': path('category_page', {'category_slug': links.sport.slug })
                },
                {
                    'name': 'Животные',
                    'image':  asset('img/index/dog.png'),
                    'slug': path('category_page', {'category_slug': links.animals.slug })
                },
                {
                    'name': 'Аксессуары',
                    'image':  asset('img/index/sunglasses.png')
                },
                {
                    'name': 'Туры',
                    'image':  asset('img/index/travel.png')
                },
                {
                    'name': 'Одежда и обувь',
                    'image':  asset('img/index/jacket.png'),
                    'slug': path('category_page', {'category_slug': links.clothes.slug })
                },
                {
                    'name': 'Детская одежда',
                    'image': asset('img/index/hobbies-and-free-time.png')
                },
                {
                    'name': 'Компьютерная техника',
                    'image': asset('img/index/microwave.png')
                },
                {
                    'name': 'Красота здоровье',
                    'image': asset('img/index/cosmetics.png'),
                    'slug': path('category_page', {'category_slug': links.beauty.slug })
                }] | json_encode(constant('JSON_UNESCAPED_UNICODE'))
            }}" item-class="category__item"></slider>
        </div>
    </section>
    <section class="catalog">
        <div class="catalog__sort">
            <div class="catalog__sort-wrapper"><span>{% trans %}Сортировать по: {%  endtrans %}</span>
                <div class="catalog__sort-links">
                    <span {% if products.isSorted('p.createdAt') %} class="link-dashed" {% endif %}>
                        {{ knp_pagination_sortable(products, 'Дате', 'p.createdAt') }}
                     </span>
                    <span {% if products.isSorted('p.price') %} class="link-dashed" {% endif %}>
                         {{ knp_pagination_sortable(products, 'Цене', 'p.price') }}
                    </span>
            </div>
            <div class="catalog__sort-wrapper d-none">
                <button class="catalog__sort-button sort-variant-1"></button>
                <button class="catalog__sort-button sort-variant-2"></button>
            </div>
        </div>
        <div class="catalog__cards">
            <div class="catalog__premium">
                <article class="card">
                    <a href="{{ path('product', {id: 17}) }}"><span class="card__premium">Премиум</span>
                        <div class="card__image"><img src="{{ asset('img/cards/card4.png') }}" alt="Сигнализация Code...">
                        </div>
                        <div class="card__wrapper"><p class="card__category">Транспорт</p>
                            <p class="card__name">Сигнализация Code...</p>
                            <div class="card__body">
                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>
                                    </p>
                                    <p class="card__price-add">$55</p>
                                    <p class="card__price-add">€50</p></div>
                                <div class="card__user"><span>Игорь И.</span>
                                    <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i></div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div class="card__info w-100"><i
                                            class="material-icons">place</i><span>РФ, Москва</span></div>
                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>
                                </div>
                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="card">
                    <a href="{{ path('product', {id: 17}) }}"><span class="card__premium">Премиум</span>
                        <div class="card__image"><img src="{{ asset('img/cards/card4.png') }}" alt="Сигнализация Code...">
                        </div>
                        <div class="card__wrapper"><p class="card__category">Транспорт</p>
                            <p class="card__name">Сигнализация Code...</p>
                            <div class="card__body">
                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>
                                    </p>
                                    <p class="card__price-add">$55</p>
                                    <p class="card__price-add">€50</p></div>
                                <div class="card__user"><span>Игорь И.</span>
                                    <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i></div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div class="card__info w-100"><i
                                            class="material-icons">place</i><span>РФ, Москва</span></div>
                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>
                                </div>
                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
            <div class="catalog__usual">
                {%  for productItem in products %}
                    {% set product = productItem.product %}
                    <article class="card">
                        <a href="{{ path('product', {id: product.id}) }}">
                            <div class="card__image">
                                {% for productImage in product.photos|slice(0, 1) %}
                                    <img src="{{ asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~ productImage) }}" alt="Мотоциклетный шлем">
                                {% endfor %}
                            </div>
                            <div class="card__wrapper"><p class="card__category">{{ product.category.name }}</p>
                                <p class="card__name">{{ product.name }}</p>
                                <div class="card__body">
                                    <div class="card__prices"><p class="card__price">{{ product.price }}<span class="card__price-add">Руб.</span>
                                        </p>
                                        <p class="card__price-add">$55</p>
                                        <p class="card__price-add">€50</p></div>
                                    <div class="card__user"><span>{{ productItem.user_info }}</span>
                                        <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i></div>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <div class="card__info w-100"><i
                                                class="material-icons">place</i><span>{{ product.address }}</span></div>
                                    <div class="card__info"><i class="material-icons">query_builder</i><span>{{ product.createdAt|date("d.m.Y  H:m") }}</span>
                                    </div>
                                    <div class="card__info"><i class="material-icons"> visibility</i><span>{{ product.views }}</span>
                                    </div>
                                </div>
                            </div>
                        </a></article>
                {% endfor %}
{#                <article class="card"><a href="{{ path('product',{id: 17}) }}">#}
{#                        <div class="card__image"><img src="{{ asset('img/cards/card2.png') }}" alt="Мотоциклетные перчатки">#}
{#                        </div>#}
{#                        <div class="card__wrapper"><p class="card__category">Транспорт</p>#}
{#                            <p class="card__name">Мотоциклетные перчатки</p>#}
{#                            <div class="card__body">#}
{#                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>#}
{#                                    </p>#}
{#                                    <p class="card__price-add">$55</p>#}
{#                                    <p class="card__price-add">€50</p></div>#}
{#                                <div class="card__user"><span>Игорь И.</span>#}
{#                                    <div class="card__rating"><i class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card__footer">#}
{#                                <div class="card__info w-100"><i#}
{#                                            class="material-icons">place</i><span>РФ, Москва</span></div>#}
{#                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>#}
{#                                </div>#}
{#                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a></article>#}
{#                <article class="card"><a href="{{ path('product', {id: 17}) }}">#}
{#                        <div class="card__image"><img src="{{ asset('img/cards/card3.png') }}" alt="Считыватель кодов ...">#}
{#                        </div>#}
{#                        <div class="card__wrapper"><p class="card__category">Транспорт</p>#}
{#                            <p class="card__name">Считыватель кодов ...</p>#}
{#                            <div class="card__body">#}
{#                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>#}
{#                                    </p>#}
{#                                    <p class="card__price-add">$55</p>#}
{#                                    <p class="card__price-add">€50</p></div>#}
{#                                <div class="card__user"><span>Игорь И.</span>#}
{#                                    <div class="card__rating"><i class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card__footer">#}
{#                                <div class="card__info w-100"><i#}
{#                                            class="material-icons">place</i><span>РФ, Москва</span></div>#}
{#                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>#}
{#                                </div>#}
{#                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a></article>#}
{#                <article class="card"><a href="{{ path('product', {id: 17}) }}">#}
{#                        <div class="card__image"><img src="{{ asset('img/cards/card4.png') }}" alt="Сигнализация Code...">#}
{#                        </div>#}
{#                        <div class="card__wrapper"><p class="card__category">Транспорт</p>#}
{#                            <p class="card__name">Сигнализация Code...</p>#}
{#                            <div class="card__body">#}
{#                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>#}
{#                                    </p>#}
{#                                    <p class="card__price-add">$55</p>#}
{#                                    <p class="card__price-add">€50</p></div>#}
{#                                <div class="card__user"><span>Игорь И.</span>#}
{#                                    <div class="card__rating"><i class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card__footer">#}
{#                                <div class="card__info w-100"><i#}
{#                                            class="material-icons">place</i><span>РФ, Москва</span></div>#}
{#                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>#}
{#                                </div>#}
{#                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a></article>#}
{#                <article class="card"><a href="{{ path('product', {id: 17}) }}">#}
{#                        <div class="card__image"><img src="{{ asset('img/cards/card3.png') }}" alt="Считыватель кодов ...">#}
{#                        </div>#}
{#                        <div class="card__wrapper"><p class="card__category">Транспорт</p>#}
{#                            <p class="card__name">Считыватель кодов ...</p>#}
{#                            <div class="card__body">#}
{#                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>#}
{#                                    </p>#}
{#                                    <p class="card__price-add">$55</p>#}
{#                                    <p class="card__price-add">€50</p></div>#}
{#                                <div class="card__user"><span>Игорь И.</span>#}
{#                                    <div class="card__rating"><i class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card__footer">#}
{#                                <div class="card__info w-100"><i#}
{#                                            class="material-icons">place</i><span>РФ, Москва</span></div>#}
{#                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>#}
{#                                </div>#}
{#                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a></article>#}
{#                <article class="card"><a href="{{ path('product', {id: 17}) }}">#}
{#                        <div class="card__image"><img src="{{ asset('img/cards/card4.png') }}" alt="Сигнализация Code...">#}
{#                        </div>#}
{#                        <div class="card__wrapper"><p class="card__category">Транспорт</p>#}
{#                            <p class="card__name">Сигнализация Code...</p>#}
{#                            <div class="card__body">#}
{#                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>#}
{#                                    </p>#}
{#                                    <p class="card__price-add">$55</p>#}
{#                                    <p class="card__price-add">€50</p></div>#}
{#                                <div class="card__user"><span>Игорь И.</span>#}
{#                                    <div class="card__rating"><i class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card__footer">#}
{#                                <div class="card__info w-100"><i#}
{#                                            class="material-icons">place</i><span>РФ, Москва</span></div>#}
{#                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>#}
{#                                </div>#}
{#                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a></article>#}
{#                <article class="card"><a href="{{ path('product', {id: 17}) }}">#}
{#                        <div class="card__image"><img src="{{ asset('img/cards/card1.png') }}" alt="Мотоциклетный шлем">#}
{#                        </div>#}
{#                        <div class="card__wrapper"><p class="card__category">Транспорт</p>#}
{#                            <p class="card__name">Мотоциклетный шлем</p>#}
{#                            <div class="card__body">#}
{#                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>#}
{#                                    </p>#}
{#                                    <p class="card__price-add">$55</p>#}
{#                                    <p class="card__price-add">€50</p></div>#}
{#                                <div class="card__user"><span>Игорь И.</span>#}
{#                                    <div class="card__rating"><i class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card__footer">#}
{#                                <div class="card__info w-100"><i#}
{#                                            class="material-icons">place</i><span>РФ, Москва</span></div>#}
{#                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>#}
{#                                </div>#}
{#                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a></article>#}
{#                <article class="card"><a href="{{ path('product', {id: 17}) }}">#}
{#                        <div class="card__image"><img src="{{ asset('img/cards/card2.png') }}" alt="Мотоциклетные перчатки">#}
{#                        </div>#}
{#                        <div class="card__wrapper"><p class="card__category">Транспорт</p>#}
{#                            <p class="card__name">Мотоциклетные перчатки</p>#}
{#                            <div class="card__body">#}
{#                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>#}
{#                                    </p>#}
{#                                    <p class="card__price-add">$55</p>#}
{#                                    <p class="card__price-add">€50</p></div>#}
{#                                <div class="card__user"><span>Игорь И.</span>#}
{#                                    <div class="card__rating"><i class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i><i#}
{#                                                class="material-icons">star_rate</i></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card__footer">#}
{#                                <div class="card__info w-100"><i#}
{#                                            class="material-icons">place</i><span>РФ, Москва</span></div>#}
{#                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>#}
{#                                </div>#}
{#                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a></article>#}
            </div>
            <button class="catalog__help"><i class="material-icons">info</i><span>Как попасть в премиум ?</span>
            </button>
{#            <a href="{{ path('category') }}" class="catalog__button btn btn-2 hover-slide-right"><span>В каталог<i#}
{#                            class="material-icons">keyboard_arrow_right</i></span></a>#}
        </div>
    </section>
    <section class="advantages">
        <ul class="advantages__list">
            <li class="advantages__item">
                <div class="advantages__image advantages__image--1"></div>
                <div class="advantages__wrapper"><p class="advantages__title">Выгодные цены</p>
                    <p class="advantages__text">Сортируйте предложения по цене</p></div>
            </li>
            <li class="advantages__item">
                <div class="advantages__image advantages__image--2"></div>
                <div class="advantages__wrapper"><p class="advantages__title">Система оплаты</p>
                    <p class="advantages__text">Наличный и безналичный расчет</p></div>
            </li>
            <li class="advantages__item">
                <div class="advantages__image advantages__image--3"></div>
                <div class="advantages__wrapper"><p class="advantages__title">Большой спрос</p>
                    <p class="advantages__text">Быстро найдем покупателей</p></div>
            </li>
            <li class="advantages__item">
                <div class="advantages__image advantages__image--4"></div>
                <div class="advantages__wrapper"><p class="advantages__title">Поддержка</p>
                    <p class="advantages__text">Ответим на все вопросы 24/7</p></div>
            </li>
        </ul>
    </section>
    <section class="about">
        <div class="about__wrapper">
            <h1 class="about__title"><p class="title-underline"><span>Онлайн</span><span class="color-primary">маркетплейс</span>
                </p></h1>
            <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit ess</p>
            <button class="btn btn-2 hover-slide-right"><span>Подробнее</span></button>
        </div>
    </section>
{% endblock %}
