{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет администратора - Категории{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Личный кабинет администратора</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
    {% include 'dashboard/sidebar-admin.html.twig' %}
    <section><p class="user__title title-underline"><span>Категории</span></p>
        {# display navigation #}

        <section class="make-form">

            <div class="block__wrapper">
                <a style="display: block;margin-bottom: 30px;width: 30%" class="btn-primary preview__add" href="{{ path('admin_categories_add') }}">Добавить новую категорию</a>
                <span>Всего категорий: {{ categories|length }}</span>
                <table class="preview-table preview-table--4">
                    <thead>
                    <tr class="product-table__row"  style="grid-template-columns:1fr repeat(3, 1fr) 2fr">
                        <td>ID</td>
                        <td>Название</td>
                        <td>Подкатегории</td>
                        <td>Статус</td>
                        <td>Редактировать</td>
                    </tr>
                    </thead>
                    <tbody>
                    {# table body #}
                    {% for category in categories %}
                        <tr  class="product-table__row" style="padding: 10px;grid-template-columns:1fr repeat(3, 1fr) 2fr">
                            <td class="d-flex align-items-center">{{ category.id }}</td>
                            <td class="preview-table__column">{{ category.name }}</td>
                            <td>
                                {% for children in category.children %}
                                    <p>{{ children.name }}</p>
                                {% endfor %}
                            </td>
                            <td>{{ category.status.name }}</td>
                            <td>
                                {% if  category.status.id == 1 %}
                                <a class="preview-table__link" href="{{ path('admin_category_active', {'id' : category.id}) }}">Сделать активной /</a>
                                {% endif %}
                                {% if category.lvl > 0 %}
                                <a class="preview-table__link" href="{{ path('admin_category_edit', {'id' : category.id}) }}">Редактировать</a>
                                <a class="preview-table__link" href="{{ path('category_delete', {'id' : category.id}) }}">/ Удалить</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </section>
    </section>
{% endblock %}