{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет администратора - Фильтры{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Личный кабинет администратора</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
    {% include 'dashboard/sidebar-admin.html.twig' %}
    <section><p class="user__title title-underline"><span>Категории</span></p>

        <section class="make-form">

            <div class="block__wrapper">
                <a style="display: block;margin-bottom: 30px;width: 35%" class="btn-primary preview__add" href="{{ path('admin_filters_add') }}">Добавить новый фильтр типа селект </a>
                <a style="display: block;margin-bottom: 30px;width: 35%" class="btn-primary preview__add" href="{{ path('filter_add_text') }}">Добавить новый фильтр типа текст </a>
                <table class="preview-table preview-table--4">

                    <thead>
                    <tr class="preview-table__row">
                        <td>ID</td>
                        <td>Название</td>
                        <td>Категория</td>
                        <td>Редактировать</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for filter in filters %}
                        <tr class="preview-table__row">
                            <td>
                                {{ filter.id }}
                            </td>
                            <td class="preview-table__column">
                                <span
                                > {{ filter.name }}</span>

                            </td>
                            <td>
                                {% for category in filter.category %}
                                    {{ category.name }}
                                {% endfor %}
                            </td>
                            <td class="preview-table__column--last">
                                {% if filter.type > 0 %}
                                    <a class="preview-table__link" href="{{ path('filter_edit_text', {'id' : filter.id}) }}">Редактировать</a>

                                {% else %}
                                    <a class="preview-table__link" href="{{ path('admin_filters_edit', {'id' : filter.id}) }}">Редактировать</a>
                                    {% endif %}

                                <a class="preview-table__link" href="{{ path('filter_delete', {'id' : filter.id}) }}">/ Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock %}