{% extends 'layout.html.twig' %}

{% block title %}Добавить новую категорию{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Добавить категорию</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
        {% include 'dashboard/sidebar-admin.html.twig' %}
        <section class="make-form">
            <h1 class="make-form__title">Создать новый фильтр</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                {{ form_errors(form) }}
            </div>
            {{ form_start(form, {'attr': {'class': 'make-form__inner'}}) }}




            {% do form.category.setRendered() %}
            <div>
                <div class="make-form__wrapper">
                    <div>
                        <div>
                            <div id="categoriesComponent">
                                <categories form-name="{{ form_name }}" show-types="false" category-data="{{ categoryData|json_encode() }}"></categories>
                            </div>
                        </div>
                        <div>
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>

                        {{ form_label(form.sort_order) }}
                        {{ form_widget(form.sort_order) }}

                        {% if  form.values is defined %}
                            {% do form.values.setRendered() %}
                        <div id="inputAddComponent">


                            <input-add name="filter_form[values][]">
                                <span>Значения фильтров</span>
                            </input-add>
                            {#                            {{ form_label(form.name) }}#}
                            {#                            {{ form_widget(form.name) }}#}

                        </div>
                        {% endif %}




                    </div>
                </div>
                <div class="make-form__bottom">
                    <button class="btn-primary">Создать</button>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}
