{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет администратора - Главная{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Личный кабинет администратора</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
    {% include 'dashboard/sidebar-admin.html.twig' %}
    <section><p class="user__title title-underline"><span>Добро пожаловать</span></p>


        <section class="make-form">
            <div class="block__wrapper">
                <h1 class="make-form__title">Новые объявления</h1>
                <div class="navigation">
                    {{ knp_pagination_render(products) }}
                </div>
                <table class="preview-table preview-table--4">

                    <thead>
                    <tr class="product-table__row" style="grid-template-columns: 3fr repeat(6,1fr)">
                        <td{% if products.isSorted('c.name') %} class="sorted"{% endif %} style="font-size: 14px">
                            {{ knp_pagination_sortable(products, 'Название объявления', 'p.name') }}
                        </td>
                        <td style="font-size: 13px">
                            {{ knp_pagination_sortable(products, 'Дата создания', 'p.createdAt') }}
                        </td>
                        <td style="font-size: 13px">
                            {{ knp_pagination_sortable(products, 'Обновлено (дн.)', 'p.updatedAt') }}
                        </td>
                        <td style="font-size: 13px">Статус</td>
                        <td style="font-size: 13px">Редактировать</td>
                        <td style="font-size: 13px">Причина</td>
                        <td style="font-size: 13px">Примечание</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}

                    <tr
                            {% if product.status.id == 3 %}
                                class="product-table__row product-table__row--error"
                            {% elseif product.status.id == 4 %}
                                class="product-table__row product-table__row--success"
                            {% else %}
                            class="product-table__row"
                                    {% endif %}
                                    style="grid-template-columns: 3fr  repeat(6,1fr)">
                        <td class="d-flex flex-wrap align-items-center">
                            {% for productImage in product.photos|slice(0, 1) %}
                                <img style="width: 80px;height:80px" src="{{ asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~  productImage) }}"  width="80" height="80">
                            {% endfor %}
                            <div style="width: 100%;">
                            <div class="preview-table__info"><span>{{ product.category.name }}</span><a href="{{ path('product', {'id' : product.id}) }}">
                                    {{ product.name }}
                                </a></div>
                        </td>
                        <td class="preview-table__column"><span
                                    class="preview-table__label">Дата создания</span><span>{{ product.createdAt|date("d.m.Y") }} <br> {{ product.createdAt|date("H:m") }}</span>
                        </td>
                        <td class="preview-table__column">
                            {% set difference = date(product.updatedAt|date("d.m.Y  H:m")).diff(date('now'|date("d.m.Y  H:m"))) %}
                            {% set leftDays = difference.days %}
                            <span
                                    class="preview-table__label">Обновлено (дн.)</span>
                            {% if leftDays == 0 %}
                           <span>Сегодня <br> в {{  product.updatedAt|date("H:m")  }}</span>
                            {% else %}
                                <span> {{  leftDays }}  дней назад</span>
                                {% endif %}
                        </td>
                        <td>{{ product.status.name }}</td>
                        <td>
                            <a class="preview-table__link" href="{{ path('product_edit', {'id' : product.id}) }}">Редактировать</a>
                        </td>
                        <td>{{ product.reason }}</td>
                        {% if  product.category.status.id == 1 %}
                            <td>Новая категория</td>
                        {% else %}
                            <td></td>
                            {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock %}