<template>
    <div>
    <select-category-component :show-filters="!showTypes" :name="categoryFormData.hasOwnProperty('full_name') ? categoryFormData.full_name : (formName ? formName: 'name')"></select-category-component>
        <div v-if="types.length > 0 && !showTypes">
            <label class="filters__label" for="name">Выберите тип<i class="material-icons">info</i></label>
            <div class="make-form__types">
                <radio-button v-for="type in types" :selected="type.id === Number(selectedType)" :key="type.id" :name="categoryFormData.hasOwnProperty('form_name') ? categoryFormData.form_name + '[type]' : (formName ? formName  + '[type]' : 'name')" :option="type"></radio-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue , Watch, Prop} from 'vue-property-decorator'
import { namespace } from "vuex-class";
import { ChoicesType, ProductTypeType, FiltersType, FormDataType, CategoryData} from "../store/module/categoryModel";
import SelectCategoryComponent from "./SelectCategoryComponent.vue";
import RadioButton from "./RadioButton.vue";
const categoryModel = namespace('CategoryModel');
@Component({
  components: {SelectCategoryComponent, RadioButton}
})
export default class Categories extends Vue {

    @Prop(String) categoryData!: FormDataType;
    @Prop(String) formName!: string;
    @Prop(String) selectedType!: string;
    @Prop(String) showTypes!: string;
    public mounted(): void {

      if (this.categoryData !== undefined) {
        this.updateCategory({data: JSON.parse(this.categoryData), init: false})
      } else {
        this.fetchCategoryFormData();
      }


    }

        @categoryModel.Getter
        private choices!: ChoicesType;
        @categoryModel.Getter
        private types!: ProductTypeType;
        @categoryModel.Getter
        private filters!: FiltersType;
        @categoryModel.State
        private categoryFormData!: FormDataType;

        @categoryModel.Action
        private fetchCategoryFormData!: () => void;

        @categoryModel.Action
        private updateCategory!: ({data, init} : { data: CategoryData , init: boolean}) => void;



}
</script>

<style scoped>

</style>