<template>
    <transition name="fade">
        <modal @toggle="toggleModal" v-if="show">
            <template v-slot:message>
                <p class="modal__title color-red">{{ message }}</p>
            </template>
        </modal>
    </transition>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator';
import ResetPasswordHiddenModal from "./ResetPasswordHiddenModal.vue";
import Modal from "./Modal.vue";
@Component({
  components: {Modal}
})
export default class InfoModalMessageWithState extends Mixins(ResetPasswordHiddenModal) {
    @Prop({ default: true}) readonly showModal!: boolean;
    @Prop({default: 'Вы указали неправильный пароль. Хотите восстановить?'}) readonly  message!: string;
    private show = this.showModal;
    public toggleModal() : void {
      this.show = !this.show;
    }

}
</script>

<style scoped>
.modal__title.color-red {
    color: #ea060b;
    font-size: 18px;
}
</style>