<template>
    <div v-if="showMessage" :class="{'dialog': showClass}">
        <button type="button" title="Close" class="close" @click="toggleModal">
            <i class="material-icons">close</i>
        </button>
        <div class="d-flex flex-column">
            <i :class="{'material-icons color-primary': Boolean(Number(type)), 'material-icons color-red': !Boolean(Number(type))}">
                {{ Boolean(Number(type)) ? 'done' : 'error'}}
            </i>
            {{message}}
        </div>

    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

 enum MessageTypes {
    Error,
    Success
 }

 @Component({})
export default class InfoMessage extends Vue {
    @Prop(String) readonly message!: string;
    @Prop(String) readonly type!: MessageTypes;
    @Prop(Function) toggle!: (toggle: boolean) => void;
    @Prop({ default: true }) showMessage!: boolean;
    @Prop({ default: true}) showClass!: boolean;

    private toggleModal(): void {
      this.$emit('toggle', !this.showMessage);
      this.showMessage = !this.showMessage
    }

}
</script>

<style scoped>

</style>