<template>
    <label>
        <input @input="onChange" type="hidden" class="input" :name="name" :value="myValue">
        <input @input="onChange" type="text" :placeholder="placeholder" class="input input-currency" pattern="[\d ]*" :value="amount">
    </label>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'


    @Component({})
export default class InputWithSeparator extends Vue {

    @Prop(String) name!: string;
        @Prop(String) placeholder!: string;

    amount = '';
    myValue = '';


    onChange(evt: Event) {
      this.myValue = Number(evt.target.value.replace(/\s/g,''));
      this.amount = evt.target.value.toString().replace(/\D/g, "")
        .replace(/\B(?=(\d{3})+(?!\d))/g, " ");


    }
}
</script>

<style scoped>

</style>