<template>
    <div>
        <input-component :options="getTextOptions('email')" @change="debouncedFunction"></input-component>
        <p v-if="showErrorMessage" class="color-red">{{ error }}</p>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins, Watch} from 'vue-property-decorator'
import { namespace } from 'vuex-class';
import FormMixin from "./mixins/FormMixin.vue";
import Input from "./Input.vue";
import EmailValidationMixin from "./mixins/EmailValidationMixin.vue";

const formData = namespace('FormData');

@Component({
  components: {InputComponent: Input}
})
export default class InputWithState extends Mixins(FormMixin, EmailValidationMixin) {


  mounted(): void {
    this.getEmail();
  }


  @formData.Action
  private getEmail!: () => void;

}
</script>

<style scoped>

</style>