<template>
    <div class="registration__form-row">
        <div>
            <label class="input-label" :for="options.id">{{ options.label }}</label>

            <input type="text" v-if="personEmail && email" :value="personEmail" :id="options.id" :name="options.full_name" :required="options.required" class="input" @input="$emit('change', $event.target.value, options.name)" :placeholder="options.attr.placeholder">
            <input type="text" v-else :id="options.id" :name="options.full_name" :required="options.required" class="input" @input="$emit('change', $event.target.value, options.name)" :placeholder="options.attr.placeholder">

        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue , Prop} from 'vue-property-decorator'
import { FormDataType } from "../store/module/formDataModel";
import { namespace } from 'vuex-class';
const formData = namespace('FormData');
@Component({})
export  default class Input extends Vue {
    @Prop([Object, String]) readonly options!: FormDataType;
    @Prop(Function) readonly change!: (value : string, name: string) => void;
    @Prop(Boolean) email!: boolean;
    @formData.State
    personEmail!: string;


}
</script>

<style scoped>

</style>