<template>
        <div class="password-input-wrapper">
            <label class="input-label" :for="passwordOptions.id">{{ passwordOptions.label }}</label>
            <input :type="type" :id="passwordOptions.id" :name="passwordOptions.full_name" :required="passwordOptions.required" class="input" @change="$emit('change', $event.target.value, passwordOptions.name)" :placeholder="passwordOptions.attr.placeholder">
            <button class="show-password" type="button" @click="changeType">
                <i v-if="type === 'password'" class="material-icons">visibility</i>
                <i v-else class="material-icons">visibility_off</i>
            </button>
        </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import Input from "./Input.vue";
import { FormDataType } from "../store/module/formDataModel";

@Component({})
export default class PasswordInput extends Input {
    private type = 'password';

    get passwordOptions() : FormDataType | string  {
      if (typeof this.options === 'string') {
        return JSON.parse(this.options);
      }
      return this.options;
    }
    private changeType() : void {
      this.type =  this.type === 'password' ? 'text' : 'password'
    }
}
</script>

<style scoped>

</style>