<template>
    <label class="radio-label-button">
        <input :checked="selected" type="radio" :value="option.id" :name="name">
        <p class="radio-button-block"><span class="radio-text">{{ option.name }}</span></p>
    </label>
</template>

<script lang="ts">
import { Component, Vue , Prop} from 'vue-property-decorator'

@Component({})
export default class RadioButton extends Vue {
    @Prop(Object) option!: {id: number, name: string};
    @Prop(String) name!: string;
    @Prop(Boolean) selected!: boolean
}
</script>

<style scoped>

</style>