<template>
    <select v-model="selected" v-if="(showIndex !== index) || showIndex === null " @change="onChange($event.target.value)" id="product_form_category"  class="select-css filters__select">
        <option value="0" disabled hidden> Выберите подкатегорию </option>
        <option  :key="option.id + Math.random()" :value="option.id" v-for="option in options">
            {{ option.name }}
        </option>
    </select>
</template>

<script lang="ts">
import { Component, Vue , Prop, Emit} from 'vue-property-decorator'
import { ChoiceType, GetCategoryDataType, ChoicesType } from "../store/module/categoryModel";
import { namespace } from "vuex-class";
const categoryModel = namespace('CategoryModel');
    @Component({
    })
export default class SelectC extends Vue {
        @Prop({ default: [] }) options!: ChoiceType;
        @Prop(Function) change!: () => void;
        @Prop([Boolean]) showIndex!: null|boolean;
        @Prop(Number) index!: number;

        get selected() {
          // @ts-ignore
          return this.selectedCategories.find(item =>  this.choices[this.index].find(ch => ch.id === item.id) ) ? this.selectedCategories.find(item =>  this.choices[this.index].find(ch => ch.id === item.id) ).id : 0;
        }

        @categoryModel.State
        private selectedCategories!: Array<GetCategoryDataType>;

        @categoryModel.Getter
        private choices!: ChoicesType;

        @Emit('change')
        onChange(value: string) {

            // @ts-ignore
          return { value: value, index: this.index }
        }



}
</script>

<style scoped>

</style>