<template>
    <div>
        <label class="filters__label" for="product_form_category">
            <slot name="label">
                Выберите категорию
                <i class="material-icons">info</i>
            </slot>
        </label>
        <select v-if="type === 0" @change="onChange($event.target.value)" v-model="selected" id="product_form_category" :name="name" class="select-css filters__select">
            <option value="-1" disabled hidden >Выберите фильтр</option>
            <option  :key="(option.id ? option.id : option) + randomNumber()" :value="optionindex" v-for="(option,optionindex) in options">
                {{ option.name ? option.name  : option }}
            </option>
        </select>
        <input v-else id="product_form_category" :name="name" :value="textValue" class="input input-select" type="text">
    </div>
</template>

<script lang="ts">
import { Component, Vue , Prop, Emit} from 'vue-property-decorator'
import { ChoicesType, GetCategoryDataType, FiltersType, FormDataType, SelectedFiltersType } from "../store/module/categoryModel";
import { namespace } from "vuex-class";
const categoryModel = namespace('CategoryModel');
    @Component({})
export default class SelectComponent extends Vue {
        @Prop({ default: [] }) options!: Array<GetCategoryDataType>;
        @Prop(Number) type!: number;
        @Prop(Function) change!: () => void;
        @Prop(Number) index!: number;
        @Prop({default: 'name'}) name!: string;

        get textValue() {
          return this.options[0] ? this.options[0] : '';
        }


        get selected() {
          console.log(this.selectedFilters);
          //@ts-ignore
          return this.selectedFilters.find(filter => filter.id === this.index) ? this.selectedFilters.find(filter => filter.id === this.index).value : -1;
        }

        private setSelectedFilter(id : number, value: number | {id: number, name: string}){

          if (this.selectedFilters !== undefined) {
            return this.selectedFilters.findIndex((filter: {id: number, value: number}) => filter.id === id && filter.value === value) !== -1;
          }

          return false;
        }

        private randomNumber() : number {
          return Math.floor(Math.random() * (30000 - 1 + 1)) + 1;
        }




        @categoryModel.State
        private selectedFilters!: SelectedFiltersType;

        @Emit('change')
        onChange(value: string) {

          // console.log(this.options);
          // if (this.name !== 'model') {
          //
          //   console.log(value,this.index);
          return {value, index: this.index, type: this.type}
          // } else {
          //
          //   // this.formattedName(this.options[Number(value)].id, value);
          // }
        }
}
</script>

<style scoped>
    .input-select {
        width: 302px;
        height: 43px;
        border-radius: 5px;
    }

</style>