.slick-slide { /* spacing in between each slide */
    padding: 0 5px;
}

.slick-list { /* spacing in between the group of slides */
    margin: 0 -5px;
}

.slick-arrow {
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #f3b605;
}

.slick-next {
    right: 10px;
}

.slick-prev::before,
.slick-next::before  {
    content: '❮';
    font-size: 12px;
    color: black;
    line-height: unset;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background-color: white;
}
.slick-next::before {
    content: '❯';
}
.slick-prev{
    left: 5px;
    z-index: 1;
}