{% extends 'email/body.html.twig' %}
{% block body %}
    {{ message }}
    <br>

    {% for product in products %}
        <div>
        {% for productImage in product.photos|slice(0, 1) %}
            <img width="60" height="60" src="{{ absolute_url(asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~ productImage)) }}" alt="{{ 'Изображение товара' }}">
        {% endfor %}
    <a href="{{  url('product', { 'id': product.id }) }}">Посмотреть {{ product.name }}


    </a><br>
        </div>
    {% endfor %}
{% endblock %}