<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="{{ asset('css/app.b40e22c51722cdb1512b.css') }}" rel="stylesheet"/>
            <link media="print" href="{{ asset('css/app.b40e22c51722cdb1512b.css') }}" rel="stylesheet"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
    </head>
    <body class="index-page">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                const mobileMenuButton = document.getElementById('mobile-menu');
                const mobileMenu = document.querySelector('.menu-modal');
                const modalBody = document.querySelector('.menu-modal__body');
                const closeModalButton = document.querySelector('.menu-modal__close');
                const modalWrapper = document.querySelector('.menu-modal__wrapper');
                const searchBarInModal = document.querySelector('#mobile-search');

                mobileMenuButton.addEventListener('click',() => {
                    mobileMenu.classList.toggle('slide-in-animation');
                    modalBody.classList.remove('d-none')
                });

                closeModalButton.addEventListener('click',() => {
                    mobileMenu.classList.toggle('slide-in-animation');
                    modalWrapper.classList.remove('d-none')
                });

                searchBarInModal.addEventListener('click',() => {
                    modalWrapper.classList.toggle('d-none');
                    modalBody.classList.add('d-none');
                    mobileMenu.classList.toggle('slide-in-animation');
                });

            </script>
        {% endblock %}
    </body>
</html>
