{% extends 'base.html.twig' %}

{% block title %}Главая{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="app">
            {% include 'partials/header.html.twig' %}
            <div class="content-wrapper">
                {% block content %} {% endblock %}
            </div>
            <footer>
               {% include 'partials/mobile.html.twig' %}
                <div class="footer__inner">
                    <div class="footer__block"><p class="footer__text">{% trans %}Компания{% endtrans %}<span
                                    class="color-primary">“Algroo.com”</span></p><span
                                class="footer__text">{% trans %}© 2020 Все права защищены.{% endtrans %}</span>
                    </div>
                    <div class="footer__block footer__block--center"><a class="preview__logo" href="#">
                            <img src="{{ asset('img/logo.png') }}"></a>
                        <ul class="footer__menu">
                            <li><a href="">{% trans %}Политика конфеденциальности{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Условия использования{% endtrans %}</a></li>
                            <li><a href="">{% trans %}О проекте{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Помощь{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Стать партнером{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Документы{% endtrans %}</a></li>
                        </ul>
                    </div>
                    <div class="footer__block footer__block--end">
                        <div><span class="footer__text">{% trans %}Подписывайтесь на нас:{% endtrans %}</span>
                            <ul class="footer__social social">
                                <li><a class="social__item social__item--facebook" href="" aria-label="Facebook"></a>
                                </li>
                                <li><a class="social__item social__item--instagram" href="" aria-label="Instagram"></a>
                                </li>
                                <li><a class="social__item social__item--twitter" href="" aria-label="Twitter"></a></li>
                                <li><a class="social__item social__item--skype" href="" aria-label="Skype"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
