{% extends 'layout.html.twig' %}

{% block title %}Регистрация физического лица{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <section class="registration">
        <h1 class="login__title">Регистрация Физического лица</h1>

        <div id="loginPersonComponent">
            <form-component></form-component>
        </div>
    </section>

{% endblock %}
