{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Добавить объяыление</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
        {% if is_granted("ROLE_ADMIN") %}
            {% include 'dashboard/sidebar-admin.html.twig' %}
        {% else %}
             {% include 'dashboard/sidebar.html.twig' %}
        {% endif %}
        <section class="make-form">
            <h1 class="make-form__title">Редактировать объявление</h1>
            <div class="row">
                {{ form_errors(form) }}
            </div>
            {{ form_start(form, {'attr': {'class': 'make-form__inner'}}) }}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="admin-form__wrapper">
                <div>
                    {{ form_label(form.status) }}
                    {{ form_widget(form.status) }}
                </div>
                <div>
                    {{ form_label(form.reason) }}
                    {{ form_widget(form.reason) }}
                </div>
            </div>
            {% endif %}
            {% do form.category.setRendered() %}
            {% do form.type.setRendered() %}
            {% do form.filter.setRendered() %}
            <div id="categoriesComponent">

                 <categories form-name="{{ form_name }}" selected-type="{{ product.type.values[0].id }}" category-data="{{ categoryData|json_encode() }}"></categories>
                <div class="color-red" style="margin-top: 10px">{{ form_errors(form.type) }}</div>
            </div>

            <div>
                <div class="make-form__wrapper">
                    <div class="make-form__header" id="imageInputComponent">
                        <div>
                            <label class="filters__label" for="name">Описание</label>
                            {{ form_widget(form.name) }}
                        </div>
                            <image-input image-count="4" images="{{ imageData|json_encode }}" product-id="{{ product.id }}"
                                         image-form-props-data="{{ { 'wrapperClass'  : 'make-form__photos-block', 'name' : 'product_form[photo][]','required' : 'false' }|json_encode }}"

                            ></image-input>
                    </div>
                    {{ form_widget(form.description) }}
                    <div class="make-form__footer">
                        {{ form_errors(form.price) }}
                        {{ form_widget(form.price) }}
                        {{ form_errors(form.address) }}
                        {{ form_widget(form.address) }}
                    </div>
                </div>
                <div class="make-form__bottom"><p><span class="color-red">*</span>Обязательные поля</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="btn-primary">Сохранить</button>
                    {% else %}
                    <button class="btn-primary">Отправить на модерацию</button>
                    {% endif %}
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>

    <script>
        const select = document.querySelector('#product_form_status');
        const textarea = document.querySelector('#product_form_reason').parentElement;
        if (Number(select.value) !== 3) {
            textarea.classList.add('hidden')
        }
        select.addEventListener('change',(evt) => {
            if (Number(evt.target.value) !== 3) {
                textarea.classList.add('hidden')
            } else {
                textarea.classList.remove('hidden')
            }
        });
    </script>
{% endblock %}




