{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Личный кабинет</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
        {% include 'dashboard/sidebar.html.twig' %}
        <section><p class="user__title title-underline"><span>Добро пожаловать</span></p>
            <p class="user__text">
                Вы находитесь в вашем личном кабинете проекта Algroo.com. Algroo.com - это платформа объявлений по всему миру. Вы можете создать свое объявление и рассказать о своем продукты миллионам наших пользователей по всему миру.
                <br> Желаем вам отлично дня и чудесного настроения!</p>
            <div class="user-menu">
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="{{ path('dashboard_products') }}">Мои объявления<i
                                        class="material-icons">create</i></a>
                            <ul class="sublist">
                                <li class="sublist__item"><a href="{{ path('dashboard_products') }}">- Редактировать
                                        объявления</a></li>
                                <li class="sublist__item"><a href="{{ path('dashboard_statistics') }}">- Статистика объявлений</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="{{ path('dashboard_add') }}">Создать новое объявление</a>
                            <ul class="sublist">
                                <li class="sublist__item"><a href="{{ path('dashboard_add') }}">- Создать объявление</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="{{ path('dashboard_messages') }}">Сообщения от пользователей</a>
                            <ul class="sublist">
                                <li class="sublist__item"><a href="{{ path('dashboard_messages') }}">- Входящие</a></li>
                                <li class="sublist__item"><a href="#">- Исходящие</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="{{ path('dashboard_payment') }}">Применить пакет платных услуг</a>
                            <ul class="sublist">
                                <li class="sublist__item"><a href="/payment-lk.html">- Преимум размещение</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="{{ path('dashboard_subscribe') }}">Подписка</a>
                            <ul class="sublist">
                                <li class="sublist__item"><a href="{{ path('dashboard_subscribe') }}">- Создать подписку</a></li>
                                <li class="sublist__item"><a href="/subscribe.html">- Мои подписки</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="/shop.html">Создать карточку
                                магазина<span>(Для Юр.лиц.)</span></a></li>
                    </ul>
                </div>
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="#">Сообщения от системы</a>
                            <ul class="sublist">
                                <li class="sublist__item"><a href="#">- Входящие</a></li>
                                <li class="sublist__item"><a href="#">- Исходящие</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-menu__item">
                    <ul class="list">
                        <li class="list__item"><a href="#">Личные данные<i class="material-icons">create</i></a>
                            <ul class="sublist">
                                <li class="sublist__item"><a href="#">- Редактировать</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
{% endblock %}