{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}

<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Личный кабинет</a><span class="delimeter"></span></li>
</ul>
<div class="user__section">
    {% include 'dashboard/sidebar.html.twig' %}
    <section class="make-form"><h1 class="make-form__title">Мои объявления</h1>
        <div class="block__wrapper">
            <table class="preview-table preview-table--message">
                <tbody>
                <thead>
                <tr class="preview-table__row">
                    <td>От кого</td>
                    <td>Текст сообщения</td>
                    <td>Дата</td>
                    <td>Перейти в переписку</td>
                </tr>
                </thead>
                <tbody>
                <tr class="preview-table__row">
                    <td class="d-flex align-items-center">
                        <div class="preview-table__info"><span>От пользователя</span><a href="card.html">Иван</a>
                        </div>
                    </td>
                    <td class="preview-table__column text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                    </td>
                    <td class="preview-table__column"><span>09.10.2020</span></td>
                    <td><a class="btn-block btn-primary text-center" href="#">Перейти</a></td>
                </tr>
                <tr class="preview-table__row">
                    <td class="d-flex align-items-center">
                        <div class="preview-table__info"><span>От пользователя</span><a href="card.html">Иван</a>
                        </div>
                    </td>
                    <td class="preview-table__column text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                    </td>
                    <td class="preview-table__column"><span>09.10.2020</span></td>
                    <td><a class="btn-block btn-primary text-center" href="#">Перейти</a></td>
                </tr>
                <tr class="preview-table__row">
                    <td class="d-flex align-items-center">
                        <div class="preview-table__info"><span>От пользователя</span><a href="card.html">Иван</a>
                        </div>
                    </td>
                    <td class="preview-table__column text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                    </td>
                    <td class="preview-table__column"><span>09.10.2020</span></td>
                    <td><a class="btn-block btn-primary text-center" href="#">Перейти</a></td>
                </tr>
                <tr class="preview-table__row">
                    <td class="d-flex align-items-center">
                        <div class="preview-table__info"><span>От пользователя</span><a href="card.html">Иван</a>
                        </div>
                    </td>
                    <td class="preview-table__column text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                    </td>
                    <td class="preview-table__column"><span>09.10.2020</span></td>
                    <td><a class="btn-block btn-primary text-center" href="#">Перейти</a></td>
                </tr>
                </tbody>
                </tbody></table>
            <a class="link-gray" href="#">Загрузить еще</a></div>
    </section>
{% endblock %}