<aside class="user__navigation"><p class="user__title title-underline"><span style="line-height: 30px">Личный кабинет администратора</span></p>
    <ul class="list list-images">
        <li class="list__item"><a href="{{ path('admin') }}">Объявления<i class="material-icons">create</i></a>
        </li>
        <li class="list__item"><a href="{{ path('admin_categories') }}">Категории</a></li>
        <li class="list__item"><a href="{{ path('admin_filters') }}">Фильтры</a></li>
    </ul>
</aside>