{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет - Мои данные{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Добавить объяыление</a><span class="delimeter"></span></li>
</ul>

    <div class="user__section">
    {% include 'dashboard/sidebar.html.twig' %}
        <section class="make-form">
            <h1 class="make-form__title">Мои данные</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                {{ form_errors(form) }}
            </div>
            <div class="block__wrapper">
               {{ form_start(form) }}

                {{ form_end(form) }}
            </div>

        </section>
    </div>

{% endblock %}