<!--[if mso | IE]>
</td>
</tr>
</table>
<![endif]-->
<!-- Social icons -->
<!--[if mso | IE]>
<table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
>
    <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
<![endif]-->
<div style="background:#dde9f2;background-color:#dde9f2;margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dde9f2;background-color:#dde9f2;width:100%;">
        <tbody>
        <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                        <td
                                class="" style="vertical-align:top;width:600px;"
                        >
                <![endif]-->
                <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                        <tr>
                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;line-height:24px;text-align:left;color:#000000;"><span>Добро пожаловать на Algroo</span>
                                    <span class="color-green" style="color: #78d462;">.com</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                    <tbody>
                                    <tr>
                                        <td style="width:180px;">
                                            <img height="auto" src="http://progect-20.network-pro.ru/img/logo.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="180">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;line-height:24px;text-align:left;color:#000000;">8 800 800 77 77</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--[if mso | IE]>
                </td>

                </tr>

                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--[if mso | IE]>
</td>
</tr>
</table>

<table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
>
    <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
<![endif]-->
<div style="background:#dde9f2;background-color:#dde9f2;margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dde9f2;background-color:#dde9f2;width:100%;">
        <tbody>
        <tr>
            <td style="direction:ltr;font-size:0px;padding-bottom:20px;text-align:center;">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                        <td
                                class="" style="width:600px;"
                        >
                <![endif]-->
                <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;">
                    <!--[if mso | IE]>
                    <table
                            border="0" cellpadding="0" cellspacing="0" role="presentation"
                    >
                        <tr>

                            <td
                                    style="vertical-align:top;width:150px;"
                            >
                    <![endif]-->
                    <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                            <tr>
                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr style="display:inline-block;margin-right: 10px;">
                                            <td style="width:20px;">
                                                <img height="auto" src="http://progect-20.network-pro.ru/img/instagram.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="20">
                                            </td>
                                        </tr>
                                        <tr style="display:inline-block;margin-right: 10px;">
                                            <td style="width:20px;">
                                                <img height="auto" src="http://progect-20.network-pro.ru/img/facebook.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="20">
                                            </td>
                                        </tr>
                                        <tr style="display:inline-block;margin-right: 10px;">
                                            <td style="width:20px;">
                                                <img height="auto" src="http://progect-20.network-pro.ru/img/skype.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="20">
                                            </td>
                                        </tr>
                                        <tr style="display:inline-block;margin-right: 10px;">
                                            <td style="width:20px;">
                                                <img height="auto" src="http://progect-20.network-pro.ru/img/twitter.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="20">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <!--[if mso | IE]>
                    </td>




                    </tr>
                    </table>
                    <![endif]-->
                </div>
                <!--[if mso | IE]>
                </td>

                </tr>

                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--[if mso | IE]>
</td>
</tr>
</table>
<![endif]-->
<!--[if mso | IE]>
</td>
</tr>
</table>

<table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
>
    <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
<![endif]-->
<div style="background:#dde9f2;background-color:#dde9f2;margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dde9f2;background-color:#dde9f2;width:100%;">
        <tbody>
        <tr>
            <td style="direction:ltr;font-size:0px;padding-bottom:20px;text-align:center;">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                        <td
                                class="" style="width:600px;"
                        >
                <![endif]-->
                <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;">
                    <!--[if mso | IE]>
                    <table
                            border="0" cellpadding="0" cellspacing="0" role="presentation"
                    >
                        <tr>

                            <td
                                    style="vertical-align:top;width:150px;"
                            >
                    <![endif]-->
                    <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                            <tr>
                                <td align="left" style="font-size:0px;padding:0px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="font-size:0px;word-break:break-word;">
                                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:24px;text-align:left;color:#000000;">© 2020 Все права защищены.</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <!--[if mso | IE]>
                    </td>




                    </tr>
                    </table>
                    <![endif]-->
                </div>
                <!--[if mso | IE]>
                </td>

                </tr>

                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--[if mso | IE]>
</td>
</tr>
</table>
<![endif]-->
</div>
</body>

</html>